# Google Sheets API
GOOGLE_SHEETS_URL=https://script.google.com/macros/s/AKfycbx5GzBIYR_qS5tzw9b-7pj_4DzcXWKSxEwT2U9PCvdFRLI1OYE8oKMbe7A0QpIMasAEaw/exec

# Environment
NODE_ENV=production
PORT=3000

# Application
VERCEL_URL=https://uas-sistem-admin-mahasiswa.vercel.app
GITHUB_REPO=https://github.com/syalwabilbinaa/UAS_Sistem_Admin_Mahasiswa
